<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="all" href="/styles/user_profile.css">
    <link rel="stylesheet" type="text/css" media="all" href="/styles/navbar.css">
    <link rel="icon" type="image/x-icon" href="/images/microscope_round.ico">
    <title>User Profile</title> <!--Find a way to make this chnage according to the user's name-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>

    <script src="/scripts/date-time-scripts.js"></script>
    <script type="text/javascript" src="/scripts/user_profile.js"></script>

</head>


<body>
    <nav class="site_header">
        <span id="site_name"><h1>Lab Reservation System</h1></span>
        <span class="site_nav">
            <span class="user_profile" onclick="location.href='/user_profile'"> Profile </span>
            <span class="about" onclick="location.href='/about'"> About </span>
            <span class="search_slots" onclick="location.href='/slot_search'"> Search Lab Slots </span>
            <span class="lab_slots" onclick="location.href='/slot_availability'"> View Lab Slots </span>
            <span class="logout" onclick="location.href='/logout'"> Log Out </span>
        </span>
        
    </nav>

    {{#if error}}
        <div id="error">{{error}}</div>
    {{else}}
        <div class="container">
            <aside>
                <div class="user_profile">
                    {{#if profile_pic}}
                        <img id="pfp" src="data:image;base64, {{{profile_pic}}}" alt="/">
                    {{/if}}
                    <div id="username">{{username}}</div>
                    <p id="description">{{description}}</p>
                    
                    <div id="edit_account" onclick="location.href='/edit_account'"> Edit Account </div>
                </div>
            </aside>
            <!--<h1 id="reservations">Reservations</h1>-->
            <div class="posts">
            
            </div>
        </div>

        <footer>
        </footer>
    {{/if}}
</body>
</html>